.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 9rem;
}

.buttons_items {
	display: block;
	align-content: center;
	justify-content: center;
	font-size: larger;
	border: solid 1px black;
	margin: 0.5rem;
	height: fit-content;
	width: 2.5rem;
}
.time {
	font-size: 1.5rem;
	display: block;
	align-items: center;
	justify-content: center;
}
.startBtn {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .addSubbuttons {
	background-color: yellow;
	margin: 5px;
} */
