ul {
	list-style-type: none;
	margin-left: 30rem;
	margin-top: 8rem;
	height: 5rem;
	width: 25rem;
	padding: 0;
	overflow: hidden;
	background-color: rgb(233, 227, 227);
}

li {
	float: left;
}
.listItem {
	display: block;
	color: rgb(14, 13, 13);
	height: 4rem;
	width: 4rem;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.listItem:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.icon {
	font-size: larger;
	padding-top: 10px;
}
