.display_item {
	padding-left: 7rem;
	padding-top: 10rem;
	font-size: 3rem;
}

.Buttons {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Buttons_item {
	border-radius: 5px;
	border: solid 1px;
	color: rgb(7, 7, 7);
	font-size: 1.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin-right: 4px;
	margin-left: 4px;
}
.Buttons_item:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
